body {
    .container {
        h1 {    
            margin: 2rem 0;
        }
        .page-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            button {
                display: inline-block;
                height: 3rem;
            }
        }



        .card { 
            margin-bottom: 1rem;
            .card-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .controls {
                    display: flex;
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 3rem;
                        height: 3rem;
                        &:first-of-type {
                            margin-right: 0.5rem;
                        }
                    }
                }
            }
            .card-body {

            }
        }
    }
}

// Styling for the create note form
#create-note-form {
    .input-wrapper {
        position: relative;
        margin-bottom: 2rem;
        input {
            display: block;
        }
        .error {
            color: red;
            position: absolute;
        }
        textarea {
            width: 100%;
        }
    }
}