// Default operating system fonts
@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local(".SFNSText-Light"),
        local(".HelveticaNeueDeskInterface-Light"),
        local(".LucidaGrandeUI"),
        local("Ubuntu Light"),
        local("Segoe UI Light"),
        local("Roboto-Light"),
        local("DroidSans"),
        local("Tahoma");
}

html {
    font-family: 'system';
    font-size: 18px;
}

*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    outline: none !important;
}

// Import the bootstrap css
@import 'bootstrap';
// Custom styles importing
@import './globals/style';